.popup__fieldset {
  width: 100%;
  border: none;
  margin: 0;
  padding: 44px 0 48px;
}

.popup__fieldset:last-child {
  padding: 0;
}

@media screen and (max-width: 525px) {
  .popup__fieldset {
    padding: 70px 0 45px;
  }
}