.info {
  max-width: 500px;
  margin: 0 auto 0 30px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

@media screen and (max-width: 690px) {
  .info {
    margin: 27px auto 30px;
  }
}

@media screen and (max-width: 425px) {
  .info {
    max-width: 282px;
    align-items: center;
    row-gap: 10px;
  }
}